.navbar__items {
  display: flex;
  font-size: 1.2rem;
}
.navbar__active {
  font-size: 1.4rem;
  font-weight: 400;
  border-bottom: 2px solid lightgray;
  transition: all 0.5s;
}
.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}
.projects__navbar__active {
  color: #00F260;
}
@media (max-width: 600px) {
  .navbar__items {
    flex-direction: column;
  }
}
