.bar {
  /* max-width: 90%; */
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  max-height: 27px;
}
.bar__icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.bar__wrapper {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 3px 10px;
  color: #494949;
  border: 1px solid lightgray;
  font-size: 0.7rem;
  font-weight: 900 !important;
}
