.projects__navbar-active {
  color: gray;
}
.projects {
  max-height: 65vh;
  padding-top: 20px;
  overflow-y: scroll;
}
.projects::-webkit-scrollbar {
  display: none;
}
.projects {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.projectCard__wrapper {
  overflow: hidden;
  height: 100%;
  margin: 15px 0px;
  width: 100%;
  height: 87%;
  border: 1px solid lightgray;
  border-radius: 1px;
}
.projectCard__image {
  width: 100%;
  height: 125px;
  transition: 0.5s ease-out;
  margin-top: -15px;
}

.projectCard__image:hover {
  transform: scale(1.05);
}
.projectCard__icon {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.projectCard__title {
  padding-top: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
/* for project nav  */
.projects__navbar {
  display: flex;
  margin-top: -8px;
  margin-bottom: -3px;
  max-width: 150%;
  overflow-x: scroll;
}
.projects__navbar::-webkit-scrollbar {
  display: none;
}
.projects__navbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects__navbar > div {
  margin: 0 5px;
  cursor: pointer;
}
