.resume {
  padding-top: 15px;
  color: white;
  scroll-behavior: smooth;
}
.resume::-webkit-scrollbar {
  display: none;
}
.resume {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.resume-card__heading,
.reume-language__heading {
  font-size: 1rem;
  font-weight: 700;
  color: #ced4da;
}
.language {
  overflow-y: scroll;
  max-height: 195px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.resume {
  padding-top: 15px;
  color: white;
  scroll-behavior: smooth;
}
.resume::-webkit-scrollbar {
  display: none;
}
.resume {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.resume-card__heading,
.reume-language__heading {
  font-size: 1rem;
  font-weight: 700;
  color: #ced4da;
}
.language {
  overflow-y: scroll;
  max-height: 195px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tools {
  overflow-y: scroll;
  max-height: 195px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tools::-webkit-scrollbar {
  display: none;
}
.language::-webkit-scrollbar {
  display: none;
}

.resume-card__details {
  font-size: 0.9rem;
  color: #b8bdc5;
}
.resume-card__details::-webkit-scrollbar {
  display: none;
}
.resume-card__info {
  font-size: 0.9rem;
  color: #b8bdc5;
  max-height: 102px;
}
