html {
  scroll-behavior: smooth;
}
.loader {
  color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.loaderText {
  width: 50%;
}
body {
  background: #0b0e11;
  height: 100%;
  width: 50%;
  width: 100%;
  overflow-y: hidden;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #b8bdc5;
}
a:hover {
  text-decoration: none;
}
.app__container {
  padding: 65px;
}
.app__row {
  height: 80vh;
}
.sidebar {
  max-height: 515px;
  border-radius: 5px;
  padding: 25px 15px;
  background-color: #151a21;
  text-align: center;
}
.app__main-content {
  background-color: #151a21;
  max-height: 510px;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 25px 15px;
}
.app__main-content::-webkit-scrollbar {
  display: none;
}
.app__main-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (max-width: 991px) {
  .app__main-content {
    margin: 30px;
    height: 100%;
  }
  body {
    overflow-y: scroll;
  }
}
@media (max-width: 375px || max-width: 414px) {
  .margin {
    margin-top: 18px !important;
  }
  .loaderText {
    width: 100% !important;
  }
}
@media (max-width: 414px) {
  .margin {
    margin-top: 18px !important;
  }
}
@media (max-width: 600px) {
  .app__main-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  body {
    overflow-y: scroll;
  }

  .navbar__active {
    font-size: 1.5rem;
  }

  .navbar__item {
    font-size: 1rem;
  }
  .loader {
    height: 80vh;
  }
  .loaderText {
    width: 100% !important;
    font-size: 100px !important;
  }
  .loaderText h1 {
    font-size: 33px;
  }
  .loaderText p {
    font-size: 20px !important;
  }
}
.projects__navbar-active {
  color: #eb4949;
}
.sidebar__avatar {
  height: 90px;
  width: 90px;
  object-fit: contain;
  border-radius: 50px;
}
.sidebar__icon {
  width: 25px;
  height: 25px;
}
.sidebar__name {
  font-weight: 200;
  margin: 20px 0;
  font-size: 1.1rem;
  color: #ced4da;
}
.sidebar__name > span {
  font-weight: bold;
}
.sidebar__item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
  color: #b8bdc5;
}
.sidebar__title {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 900;
  color: #b8bdc5;
  background-color: #242c37;
}
.MuiSvgIcon-root {
  color: #5d7290 !important;
}
.MuiSvgIcon-root:hover {
  color: #eb4949 !important;
}
.sidebar__social-icons {
  padding: 2px 6px;
  color: #b8bdc5;
}
.sidebar__contact {
  padding: 2px 0;
  margin-top: 5px;
  margin: 20px -15px;
  color: #b8bdc5;
}
.sidebar__email {
  background-color: #242c37;
  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  color: #b8bdc5;
}
.sidebar__email:hover {
  background: #b8bdc5;
  color: #0b0e11;
}
.navbar__items {
  display: flex;
  font-size: 1.2rem;
}
.navbar__active {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 2px solid #eb4949;
  color: #ced4da;
}
.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #eb4949;
  font-weight: 600;
}
.navbar__item:hover {
  color: #fd4d4d;
}
.resume {
  padding-top: 15px;
  color: white;
  scroll-behavior: smooth;
}
.resume::-webkit-scrollbar {
  display: none;
}
.resume {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.resume-card__heading,
.reume-language__heading {
  font-size: 1rem;
  font-weight: 700;
  color: #ced4da;
}
.language {
  overflow-y: scroll;
  max-height: 195px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tools {
  overflow-y: scroll;
  max-height: 195px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tools::-webkit-scrollbar {
  display: none;
}
.language::-webkit-scrollbar {
  display: none;
}

.resume-card__details {
  font-size: 0.9rem;
  color: #b8bdc5;
  height: 102px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.resume-card__details::-webkit-scrollbar {
  display: none;
}
.resume-card__info {
  font-size: 0.9rem;
  color: #b8bdc5;
  max-height: 102px;
}
.projects {
  max-height: 65vh;
  padding-top: 20px;
  overflow-y: scroll;
  color: #ced4da;
}
.projects::-webkit-scrollbar {
  display: none;
}
.projects {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.projectCard__wrapper {
  overflow: hidden;
  height: 100%;
  margin: 15px 0;
  width: 100%;
  border-radius: 3px;
  height: 89%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.projectCard__image {
  width: 100%;
  height: 125px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.5s ease-out;
  margin-top: -15px;
}

.projectCard__image:hover {
  transform: scale(1.05);
  border-radius: 5px;
}
.projectCard__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.projectCard__title {
  margin-top: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
}
/* for project nav  */
.projects__navbar {
  display: flex;
  margin-top: -8px;
  margin-bottom: -3px;
  max-width: 150%;
  overflow-x: scroll;
  font-weight: bold;
}
.projects__navbar::-webkit-scrollbar {
  display: none;
}
.projects__navbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects__navbar > div {
  margin: 0 5px;
  cursor: pointer;
}
.bar {
  max-width: 90%;
  background-color: #242c37;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  max-height: 27px;
}
.bar__icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.bar__wrapper {
  background-color: #414360;
  border-radius: 10px;
  padding: 3px 10px;
  color: #ced4da;
  font-size: 0.7rem;
  font-weight: 900 !important;
}
